<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.BoardMapper">
   <insert id="write">
       INSERT INTO board(bIdx, mIdx, bImage1, imgPath, bContent, bHashtag)
       VALUES(NULL, #{mIdx}, #{bImage1}, #{imgPath}, #{bContent}, #{bHashtag})
   </insert>
    <select id="selectOne" resultType="com.example.demo.dto.BoardDto">
        SELECT * FROM board WHERE mIdx = #{mIdx}
    </select>
    <select id="boardDetail" resultType="com.example.demo.dto.BoardDto">
        SELECT * FROM board WHERE bIdx = #{bIdx}
    </select>
    <select id="boardAll" resultType="Map">
        SELECT board.*, member.mIdx, member.mUserid, member.mProfilePath
        FROM board LEFT JOIN member ON board.mIdx = member.mIdx
        ORDER BY bIdx DESC;
    </select>
    <select id="boardLikes" resultType="Map">
        SELECT board.bIdx, likes.*
        FROM likes LEFT JOIN board ON likes.likes_bIdx = board.bIdx;
    </select>
    <!--  좋아요  -->
    <insert id="likes">
        INSERT INTO likes(lIdx, likes_mIdx, likes_bIdx) VALUES(NULL, #{likes_mIdx}, #{likes_bIdx})
    </insert>
    <select id="likesCheck" resultType="Integer">
        SELECT likes_mIdx FROM likes WHERE likes_bIdx = #{idx} AND likes_mIdx = #{likes_mIdx}
    </select>
</mapper>