<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.ReplyMapper">
    <insert id="writeReply">
        INSERT INTO reply(re_Idx, bIdx, mIdx, content) VALUES(NULL, #{bIdx}, #{mIdx}, #{content})
    </insert>
    <!-- 게시물 상세보기 - 댓글목록  -->
    <select id="replyDetail" resultType="Map">
        SELECT reply.*, member.mIdx, member.mUserid, member.mProfilePath FROM reply
        LEFT JOIN member ON reply.mIdx = member.mIdx
        WHERE reply.bIdx = #{bIdx}
    </select>
</mapper>