@import "reset.css";

.round-img {
  border-radius: 50%;
}

.txt_id {
  font-weight: bold;
}

header {
  position: fixed;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #d8d8d8;
}

header .wrap {
  display: flex;
  align-items: center;
  width : 1000px;
  margin: 0 auto;
  height: 100%;
  padding: 15px 0;
}

.logo-icon-img {
    width : 25px;
    height : 25px;
}

header .logo h1 {
   display : inline;
  height: 100%;
  margin-left: 15px;
  padding-left: 15px;
  border-left: 1px solid #262626;
  font-size: 25px;
  line-height: 15px;
  font-weight: 100;
}


.search-wrap {
  display: flex;
  width: 400px;
  padding: 0 5px;
  margin: 0 15%;
  background-color: #fafafa;
  border: 1px solid #d8d8d8;
  text-align: center;
}

.search-wrap input[type="text"] {
  position: relative;
  width: 100%;
  padding: 4px;
  height: 30px;
  background-color: none;
  border: none;
}

.search-wrap button {
  padding: 4px;
  color: #999;
  cursor: pointer;
}

.icon-wrap {
  flex: 1.5;
}

.icon-wrap ul {
  display: flex;
}

.icon-wrap ul li {
  position: relative;
  flex: 2.5;
  font-size: 0;
  width: 25px;
  height: 25px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.icon-wrap ul li:before {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 50%;
  margin-left: -1.5px;
  width: 4px;
  height: 4px;
  background-color: #e04141;
  border-radius: 4px;
}

.icon-wrap ul li.research {
  background-image: url("https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/explore.png");
}

.icon-wrap ul li.like {
  background-image: url("https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/heart.png");
}

.icon-wrap ul li.mypage {
  background-image: url("https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/profile.png");
}

.icon-wrap ul li.mypage:before {
  display: none;
}

.icon-wrap ul li a {
  display: block;
  height: 100%;
}