@import "reset.css";

html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 100px;
  background-color: #fff;
  border: 1px solid #d8d8d8;
  text-align: center;
}

.container h1 {
  margin-bottom: 40px;
  font-size: 60px;
}

.login-wrap {
  display: flex;
  flex-direction: column;
}

.login-wrap input {
  height: 45px;
  padding: 0 20px;
  margin-bottom: 10px;
  color: #000;
  background-color: #fafafa;
  border-radius: 5px;
  border: 1px solid #d8d8d8;
  font-size: 16px;
}

.login-wrap input:focus {
  border: 1px solid #aaa;
}

.login-wrap button {
  height: 40px;
  margin: 25px 0;
  color: #fff;
  background-color: #c4e1fb;
  border: 1px solid transparent;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  transition: 0.3s;
}

.login-wrap button.active {
  background-color: #52adff;
  cursor: pointer;
}
