.nav-container {
  font-family: "Roboto", sans-serif;
  width: 100%;
  border-bottom: 1px solid black;
  height: 110px;
}

.logo-wrap {
  font-family: "Nanum Myeongjo", serif;
  text-align: center;
  font-size: 30px;
  margin: 30px 0;
}

.menu-wrap {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.menu-wrap a {
  margin-left: 25px;
  margin-right: 25px;
  font-size: 14px;
}

.menu-wrap a:hover {
  color: #c67c00;
  transition: 0.3s;
}

.icon-wrap a {
  margin: 10px;
}
