.qna-table-wrap table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;
}

.qna-table-wrap tr {
  border-bottom: 1px solid #000;
}

.qna-table-wrap th,
td {
  height: 60px;
  text-align: center;
}

.qna-table-wrap td {
  font-size: 14px;
}
.qna-table-wrap td:nth-child(1) {
  width: 10%;
}

.qna-table-wrap td:nth-child(2) {
  width: 10%;
}

.qna-table-wrap td:nth-child(3) {
  width: 60%;
}

.qna-table-wrap td:nth-child(3) div:first-child {
  display: flex;
  text-align: left;
}

.qna-table-wrap td:nth-child(3) span {
  margin-right: 10px;
}
.qna-table-wrap td:nth-child(5) {
  width: 10%;
}

.qna-table-wrap p {
  font-size: 14px;
}
.qna-img-wrap {
  width: 40px;
  margin-right: 10px;
}

.qna-img-wrap img {
  width: 100%;
}

.bottom-wrap {
  display: flex;
  justify-content: space-between;
}

input {
  padding: 12px 12px;
  border: 1px solid black;
  outline: none;
  font-family: inherit;
}

form button {
  color: #fff;
  background-color: #000;
  font-family: inherit;
  padding: 11px 20px;
  cursor: pointer;
  margin-left: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

ul {
  list-style: none;
  padding: 0;
}

ul.pagination li {
  display: inline-block;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

ul.pagination li:first-child {
  border-radius: 5px 0 0 5px;
}

ul.pagination li:last-child {
  border-radius: 0 5px 5px 0;
}

ul.pagination li a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
}

ul.pagination li.active a {
  color: #c67c00;
}
