.write-top {
  width: 100%;
  display: flex;
}

.write-caregory {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.write-caregory span {
  padding: 5px;
}

.write-caregory select {
  width: 100%;
  padding: 14px 12px;
  border: 1px solid black;
}

.write-title {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  width: 70%;
}
.write-title span {
  padding: 5px;
}

.write-title input[type="text"],
.select-product input[type="text"] {
  font-family: inherit;
  padding: 13px 13px;
  border: 1px solid black;
}

input[type="file"] {
  margin-top: 10px;
  background-color: transparent;
  font-family: inherit;
  width: 300px;
  border: 0;
}

.select-product {
  position: relative;
  width: 100%;
  display: flex;
  margin-top: 10px;
}
.select-product input:first-child {
  width: 500px;
}
.select-product input:nth-child(2) {
  width: 100%;
}

.search-container {
  z-index: 3;
  height: 50vh;
  width: 500px;
  background-color: #fff;
  position: absolute;
  top: 45px;
  border: 1px solid #bbb;
  padding: 15px;
}
.search-container ul li {
  padding: 10px 8px;
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  z-index: 4;
  letter-spacing: 2px;
}
.search-container ul li:hover {
  background-color: #edf5f5;
  cursor: pointer;
}

.write-content-box {
  margin-top: 20px;
  margin-bottom: 10px;
}
.write-contents {
  background-color: transparent;
  font-family: inherit;
  resize: none;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 100%;
  padding: 12px 12px;
  height: 500px;
}

.secret-wrap {
  margin-bottom: 20px;
}
.secret-wrap input {
  margin-right: 10px;
}

.btn-wrap {
  margin-bottom: 20px;
}
.btn-wrap button {
  padding: 12px 12px;
  border-radius: 0;
  border: 1px solid black;
}

.list-btn {
  background-color: white;
  color: #000;
}
.list-btn:hover {
  background-color: black;
  color: white;
  transition: 0.3s;
}

.save-btn {
  background-color: black;
  color: white;
}
.save-btn:hover {
  opacity: 0.7;
}
