.container input[type="checkbox"] {
  cursor: pointer;
}

.review-wrap {
  margin-top: 40px;
  border-bottom: 1px solid #000;
  display: grid;
  grid-template-columns: repeat(4, 25%);
}

.icon-content-wrap {
  padding: 20px 0px 20px 0px;
  text-align: center;
}
.icon-content-wrap h3 {
  margin-top: 20px;
}

.icon-content-wrap p {
  margin-top: 5px;
  font-size: 14px;
}

.icon-content-wrap p {
  margin-top: 5px;
  font-size: 14px;
}
.container label {
  cursor: pointer;
}
.review-table-wrap table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;
}

.review-table-wrap tr {
  border-bottom: 1px solid #000;
}

.review-table-wrap th,
td {
  height: 60px;
  text-align: center;
}

.review-table-wrap td:nth-child(1) {
  width: 10%;
}
.review-table-wrap td:nth-child(2) {
  width: 25%;
  text-align: left;
}
.review-table-wrap td:nth-child(3) {
  width: 35%;
  text-align: left;
}
.review-table-wrap td:nth-child(4) {
  width: 10%;
}
.review-table-wrap td:nth-child(5) {
  width: 10%;
}
.review-table-wrap td:nth-child(6) {
  width: 10%;
}
.bottom-wrap {
  display: flex;
  justify-content: space-between;
}

input {
  padding: 12px 12px;
  border: 1px solid black;
  outline: none;
  font-family: inherit;
}

button {
  color: #fff;
  background-color: #000;
  font-family: inherit;
  padding: 11px 20px;
  cursor: pointer;
  margin-left: 10px;
}

.pagination {
  text-align: center;
}
