<!DOCTYPE html>
  <html lang="ko"
	xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
   <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <link th:href="@{/css/editProfile.css}" rel="stylesheet" />
    <title>회원 정보 수정</title>
  </head>
  <body>
    <div class="container">
      <form action="profile/edit" method="post">
        <div class="profile-wrap">
          <input name="userid" id="userid" type="text" placeholder="아이디" />
          <button class="idChk" id="idChk">중복확인</button>
          <input name="username" id="username" type="text" placeholder="이름" />
          <input name="phone" id="phone" type="text" placeholder="전화번호" />
          <textarea
            name="userinfo"
            placeholder="소개"></textarea>
          <button class="edit-btn" type="submit">정보 수정</button>
        </div>
      </form>
    </div>
    <script>
      const userid = document.getElementById("userid");
      const chkBtn = document.getElementById("idChk");
      userid.addEventListener("keyup", () => {
        let isIdvalue = userid.value.length;
        if (0 < isIdvalue) {
          chkBtn.classList.add("active");
        } else {
          chkBtn.classList.remove("active");
        }
      });
    </script>
  </body>
</html>
