<!DOCTYPE html>
  <html lang="ko"
	xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<head>
<link th:href="@{/css/header.css}" rel="stylesheet" />
</head>
<body>
   <th:block th:fragment="header">
 <!--HEADER-->
    <header>
      <div class="wrap">
        <a th:href="@{/}" class="logo"><img class="logo-icon-img" th:src="@{/img/logo_icon.png}" /><h1>Instagram</h1></a>
        <div class="search-wrap">
          <input type="text" placeholder="검색" />
          <button><i class="fas fa-search"></i></button>
        </div>
        <nav class="icon-wrap">
          <ul>
            <li class="like"><a href="#">좋아요</a></li>
            <li class="mypage">
            <a th:if="${session.login == null}" href="/login">my profile</a>
            <a th:unless="${session.login == null}" th:href="@{'/profile/' + ${session.login.getMIdx()}}">my profile</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <!--//HEADER-->
    </th:block>
   </body>