<!DOCTYPE html>
  <html lang="ko"
	xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
   <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Instagram</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
    />
     <link th:href="@{/css/index.css}" rel="stylesheet" />
  </head>
  <body>
   	<!-- header -->
	<th:block th:replace="/header"></th:block>
	<!-- header -->
    <!---MAIN--->
    <main class="container wrap">
      <aside>
        <!--my profile-->
        <div class="my_profile">
          <a href="#n" class="profile_img">
            <img class="round-img" th:if="${session.login == null}" th:src="@{/img/profile_no.png}"/>
            <img class="round-img" th:if="${session.login != null && session.login.getMProfilePath == null}"  th:src="@{/img/profile_no.png}"/>
            <img class="round-img" th:if="${session.login != null && session.login.getMProfilePath != null}" th:src="${session.login.getMProfilePath}"/>

          </a>
          <span class="my_id">
            <p th:if="${session.login != null}" th:text="${session.login.getMUserid()}" class="txt_id"></p>
            <a th:if="${session.login == null}" href="/login">Login</a>
            <a th:if="${session.login != null}" href="/logout">Logout</a>
          </span>
        </div>

        <!--WIDGET - story-->
        <article class="widget stories">
          <div class="widget_ttl">
            <span>스토리</span>
            <a href="#n">모두 보기</a>
          </div>

          <section class="list_story">
            <div class="story">
              <a href="#n" class="follower_img">
                <img class="round-img" />
              </a>
              <span class="user_id">
                <a href="#n" class="txt_id">Fallowing ID</a>
                <p>3h ago</p>
              </span>
            </div>
            <div class="story">
              <a href="#n" class="follower_img">
                <img class="round-img" />
              </a>
              <span class="user_id">
                <a href="#n" class="txt_id">Fallowing ID</a>
                <p>3h ago</p>
              </span>
            </div>
            <div class="story">
              <a href="#n" class="follower_img">
                <img class="round-img" />
              </a>
              <span class="user_id">
                <a href="#n" class="txt_id">Fallowing ID</a>
                <p>3h ago</p>
              </span>
            </div>
          </section>
        </article>
        <article class="widget recommends">
          <div class="widget_ttl">
            <span>회원님을 위한 추천</span>
            <a href="#n">모두 보기</a>
          </div>

          <section class="list_recommend">
            <div class="recommend">
              <a href="#n" class="recommend_img">
                <img class="round-img" />
              </a>
              <span class="user_id">
                <a href="#n" class="txt_id">recommender ID</a>
                <p>follower list</p>
              </span>
              <button type="button">팔로우</button>
            </div>
            <div class="recommend">
              <a href="#n" class="recommend_img">
                <img class="round-img" />
              </a>
              <span class="user_id">
                <a href="#n" class="txt_id">recommender ID</a>
                <p>follower list</p>
              </span>
              <button type="button">팔로우</button>
            </div>
            <div class="recommend">
              <a href="#n" class="recommend_img">
                <img class="round-img" />
              </a>
              <span class="user_id">
                <a href="#n" class="txt_id">recommender ID</a>
                <p>follwor list</p>
              </span>
              <button type="button">팔로우</button>
            </div>
          </section>
        </article>
        <!--//WIDGET - recommend-->
      </aside>

      <!--FEED BOARD-->
  <div class="feed_board_wrap">
      <div class="feed_board" th:each="board:${board}">
        <!--FEED COMPONENT-->
        <article class="feed">
          <!--top-->
          <div class="new_poster">
            <a href="#n" class="poster_img">
              <img th:if="${board.mProfilePath == null}" class="round-img" th:src="@{/img/profile_no.png}"/>
              <img th:if="${board.mProfilePath != null}" class="round-img" th:src="${board.mProfilePath}"/>
            </a>
            <a th:if="${session.login != null}" th:href="'/profile/' + ${board.mIdx}" class="poster_id txt_id" th:text="${board.mUserid}">Following ID</a>
            <a th:unless="${session.login != null}" href="/login" class="poster_id txt_id" th:text="${board.mUserid}">Following ID</a>
            <button><i class="fas fa-ellipsis-h"></i>옵션 더보기</button>
          </div>

          <!--content-->
          <section class="feed_imgs">
            <div class="feed_imgs_wrap">
            <img th:src="${board.imgPath}" />
            </div>
            <div class="interactions">
              <div class="my_emotion">
                <button type="button"><i class="far fa-heart"></i>like</button>
                <button type="button">
                  <i class="far fa-comment"></i>write_comment
                </button>
                <button type="button">
                  <i class="far fa-paper-plane"></i>send_DM
                </button>
              </div>
              <div class="pagnation"></div>
              <button type="button" class="bookmark">
                <i class="far fa-bookmark"></i>bookmark
              </button>
            </div>
            <p>
              <a href="#n" class="like_user">
                <img class="round-img" />
                <span class="txt_id">강당당</span>
              </a>
              님
              <a href="#n" class="like_num txt_id">외 10명</a>
              이 좋아합니다
            </p>
          </section>

          <section class="feed_txt">
            <a href="#n" class="txt_id"></a>
            <span th:text="${board.bContent}"></span>
            <a href="#n" class="more">더보기</a>
          </section>

          <div class="comments">
            <div id="listComment" class="list_comment">
              <p class="txt_comment">
                <span>
                  <a href="#n" class="txt_id">댓글단 팔로워 아이디</a>
                  <span>댓글 내용</span>
                </span>
                <button id="delete" type="button">X</button>
              </p>
            </div>
            <form id="post" class="post_comment">
              <textarea
                id="newComment"
                type="in"
                placeholder="댓글 달기..."
              ></textarea>
              <button id="btnPost" type="submit">게시</button>
            </form>
          </div>
        </article>
      </div>
    </div>
    </main>
  </body>
</html>
