<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link th:href="@{/css/login.css}" rel="stylesheet" />
	<title>로그인</title>
</head>
<body>
	<div class="container">
		<h1><a th:href="@{/}">Instagram</a></h1>
		<form method="post" th:action="loginProc">
			<div class="login-wrap">
				<input id="mUserid" name="mUserid" type="text" placeholder="아이디" />
				<input id="mPwd" name="mPwd" type="password" placeholder="비밀번호" />
				<button id="btnLogin" disabled type="submit">로그인</button>
			</div>
		</form>

		<span>계정이 없으신가요 ?
			<a th:href="@{/register}" style="color: #52adff">가입하기</a></span>
	</div>
	<script src="https://code.jquery.com/jquery-3.6.1.js"></script>
	<script>
		$(mUserid).keyup(function () {
			if (0 < $("#mUserid").val().length && 0 < $("#mPwd").val().length) {
				$("#btnLogin").addClass("active");
				$("#btnLogin").attr("disabled", false);
			} else {
				$("#btnLogin").removeClass("active");
				$("#btnLogin").attr("disabled", true);
			}
		});
		$(mPwd).keyup(function () {
			if (0 < $("#mUserid").val().length && 0 < $("#mPwd").val().length) {
				$("#btnLogin").addClass("active");
				$("#btnLogin").attr("disabled", false);
			} else {
				$("#btnLogin").removeClass("active");
				$("#btnLogin").attr("disabled", true);
			}
		});
	</script>
</body>

</html>