<!DOCTYPE html>
  <html lang="ko"
	xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
   <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>내 정보</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
    />
     <link th:href="@{/css/mypage.css}" rel="stylesheet" />
  </head>
  <body>
    <!--HEADER-->
   <th:block th:replace="/header"></th:block>
    <!--//HEADER-->
    <main class="container wrap">
      <div class="profile-container">
        <div class="profile-img-wrap"><img class="profile-img" /></div>
        <div>
          <h2 th:text="${session.login.getmUserid()}">프로필 아이디</h2>
          <a th:href="@{/profile/edit}">정보수정</a>
          <button>게시물 쓰기</button>
          <p>게시물 : <strong> 0 </strong></p>
          <p><strong th:text="${session.login.getmName()}">이름</strong></p>
          <p th:text="${session.login.getmInfo()}">자기소개</p>
        </div>
      </div>
      <div class="grid-container">
        <div class="grid-box">1번 게시물</div>
        <div class="grid-box">1번 게시물</div>
        <div class="grid-box">1번 게시물</div>
        <div class="grid-box">1번 게시물</div>
        <div class="grid-box">1번 게시물</div>
        <div class="grid-box">1번 게시물</div>
      </div>
    </main>
  </body>
</html>
