<!DOCTYPE html>
  <html lang="ko"
	xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>

   <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <link th:href="@{/css/writeBoard.css}" rel="stylesheet" />
    <title>글 작성하기</title>
  </head>
  <body>
  <!-- header -->
  <th:block th:replace="/header"></th:block>
  <!-- header -->
  <div class="center-wrap">
    <div class="container">
        <form action="writeProc" method ="POST" enctype="multipart/form-data">
        <div class="profile-wrap">
            <input type="hidden" th:value="${session.login.mIdx}" name="mIdx"/>
            <div class="preview-img">
                <img id="preview" class="preview"/>
            </div>
            <div class="filebox">
                <input class="upload-name" placeholder="첨부파일" readonly>
                <label for="file">찾기</label>
                <input type="file" id="file" name="file" accept="image/*" onchange="readURL(this);">
            </div>
          <textarea name="bContent" placeholder="내용"></textarea>
            <input type="text" name="bHashtag" placeholder="해쉬태그"/>
          <button class="edit-btn" type="submit">작성하기</button>
        </div>
      </form>
    </div>
  </div>
    <script th:inline="javascript">
      function readURL(input) {
        if (input.files && input.files[0]) {
          var reader = new FileReader();
          var fileName = $("#file").val();
          reader.onload = function (e) {
            document.getElementById("preview").src = e.target.result;
            $(".upload-name").val(fileName);
          };
          reader.readAsDataURL(input.files[0]);
        } else {
          document.getElementById("preview").src = "";
        }
      }
    </script>
  </body>
</html>
